body {
  background-color: #fdfbf6;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
}

.education-section {
  flex: 1;
  justify-content: left;
  align-items: left;
  text-align: left; 
  font-size: 20px;
  padding: 20px;
}

.extra-section {
  flex: 1;
  justify-content: left;
  align-items: left;
  text-align: left; 
  font-size: 20px;
  padding: 20px;
}

.link-style {
  text-decoration: none;
  color: inherit; 
}
