body {
  background-color: #fdfbf6;
  margin: 0;
  padding: 0;
}

.exp-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left; 
  margin-left: 50px;
  margin-right: 100px;
  font-size: 20px;
  padding: 20px;
  flex: 1;
}

.job-details {
  display: flex;
  justify-content: space-between;
}

.job-details .left {
  text-align: left;
}

.job-details .right {
  text-align: right;
}