body {
  background-color: #fdfbf6;
  margin: 0;
  padding: 0;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left; 
  margin-left: 50px;
  margin-right: 100px;
  font-size: 20px;
  padding: 20px;
  flex: 1;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.link-style {
  text-decoration: none;
  color: inherit; 
}

p {
  margin: 5px 0;
}

.project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  margin-top: 5px;
  margin-left: 20px;
  padding-left: 10px;
}
