body {
  background-color: #fdfbf6;
  margin: 0;
  padding: 0;
}

.ski-container {
  padding-left: 200px;
  padding-right: 200px;
  margin: 0 auto;
}

.inner-ski-container {
  display: flex;
  flex-direction: row;
}

.prog-section {
  flex: 1;
  justify-content: left;
  align-items: left;
  text-align: left; 
  font-size: 20px;
  padding: 20px;
}

.tech-section {
  flex: 1;
  justify-content: left;
  align-items: left;
  text-align: left; 
  font-size: 20px;
  padding: 20px;
}
